@import "./config/_variables.scss";
@import "./config/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
// components
@import "./components/header.scss";
@import "./components/video.scss";
@import "./components/social-login.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/footer.scss";
// screens
@import "./screens/edit-profile.scss";
@import "./screens/profile.scss";
@import "./screens/search.scss";
@import "./screens/change-form.scss";
@import "./screens/watch.scss";
// a:hover
a {
  color: inherit;
  text-decoration: none;
  // &:hover {
  // }
}

body {
  font-family: "Dongle", sans-serif;
  background-color: $bg;
}
main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
video:not(#preview) {
  width: 60%;
  height: 40%;
}
