form {
  label {
    font-size: 25px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
  }
}
.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
