.video-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-info {
  margin-top: 15px;
  p,
  a {
    font-weight: bold;
  }
}
.video__comment {
  background-color: rgba(223, 219, 219, 0.3);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}
.video__comment i {
  margin-right: 10px;
}
.video__comments {
  width: 500px;
  height: 350px;
  overflow-y: scroll;
}
.video__comments::-webkit-scrollbar {
  display: none;
}
.video__comments-form {
  margin: 10px 0px 10px 0px;
}
.video__comments-form button {
  margin: 10px 0px 10px 0px;
  border: none;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}
.video__comments-form textarea {
  border-radius: 10px;
  padding: 10px;
}
