.video-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-info {
  margin-top: 15px;
  p,
  a {
    font-weight: bold;
  }
}
.video__comment {
  background-color: rgba(223, 219, 219, 0.3);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}
.video__comments {
  width: 500px;
  height: 350px;
  overflow-y: scroll;
}
.video__comments::-webkit-scrollbar {
  display: none;
}
