.header__logo {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }
  a .fa-youtube {
    color: red;
    font-size: 60px;
    margin-left: 50px;
  }
  a span {
    margin-left: 20px;
    font-size: 30px;
  }
  ul {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }
  ul li {
    margin-left: 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.header__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
