doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(red="stylesheet", hreft="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
    body
        header.header__logo
            a(href="/")
                i.fab.fa-youtube
            nav 
                ul 
                    li 
                        a(href="/search")
                            i.fas.fa-search
                    if loggedIn
                        li 
                            a(href="/videos/upload") Upload Video
                        li 
                            a(href=`/users/${loggedInUser._id}`) My Profile
                        li 
                            a(href="/users/edit") Edit Profile
                        li
                            a(href="/users/logout") logout
                    else
                        li 
                            a(href="/join") join
                        li 
                            a(href="/login").header__btn login
        main
            block content
    include partials/footer
    //- webpack을 가져와준다.
    script(src="/assets/js/main.js")
    <script src="https://kit.fontawesome.com/86bc6866a5.js" crossorigin="anonymous"></script>