extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=videos.title required)
        input(placeholder="Description", required, type="text",name="description", minlength=5, value=videos.description)
        //- .join() : 배열의 요소를 합쳐서 하나의 문자열로 만든다.
        input(placeholder="Hashtags, separated by comma.", required, type="text",name="hashtags", value=videos.hashtags.join())
        input(value="Save", type="submit")