extends ../base

block content
    if  errorMessage
        span=errorMessage
    form(method="post").change-form
        input(placeholder="Old Password", name="oldPssword" type="password")
        input(placeholder="New Password", name="newPassword" type="password")
        input(placeholder="New Password Confirm", name="newPasswordConfirmation" type="password")
        input(value="Change Password", type="submit")
